<!DOCTYPE html>
<html>
  <head>
    <title>GoogleSignIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="users/auth/google_oauth2">Sign in with Google</a>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <%= yield %>
  </body>
</html>
